[Desktop Entry]
Version=1.0
Type=Application
Name=Qemu Quickboot
Exec=/usr/local/bin/qboot
Icon=/usr/share/QEMU-QuickBoot/QEMU-QuickBoot.png
Terminal=false
Categories=Utility;
Comment=Gui utility for qemu virtual machines
Path=
StartupNotify=false
